h3 {
    color:rgb(39, 110, 21)
}

.mtable {
    background:rgb(255, 217, 2)
}

#main-heading {
    font-family:Arial
}

#div_1 {
    background:rgb(69, 255, 18);
    text-align: center
}

img {
    width: 50%;
    position: static;
}

form {
    text-align: center;
    
}

#myf {
    background:rgb(0, 255, 8);
    position: relative;
    text-align: center;
}

#forem {
    font-size: 1em; 
}

.left {
    float:left;
    width: 45%;
    height: 120px;
    background-color: #229168;
    text-align: center;
    position:relative
}

.right {
    float:right;
    width: 45%;
    height: 120px;
    background-color: #29b779;
    text-align: center;
    position:relative
}

.clear {
    clear:none;
    text-align: center;
}
