h3 {
    color:red
}

.mtable {
    background:yellow
}

#main-heading {
    font-family:Arial
}

#div_1 {
    background:rgb(116, 45, 129);
    text-align: center
}

img {
    width: 50%;
    position: static;
}

form {
    text-align: center;
    
}

#myf {
    background:rgb(187, 138, 15);
    position: relative;
}

#forem {
    font-size: 1em; 
}

.left {
    float:left;
    width: 45%;
    height: 120px;
    background-color: #d7c81e;
    text-align: center;
}

.right {
    float:right;
    width: 45%;
    height: 120px;
    background-color: #b0e10d;
    text-align: center;
}
